<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yonguk.test.activity.mapiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SampleChildActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>

        <service android:name=".mindwave.BluetoothService">
            <intent-filter>
                <action android:name="com.yonguk.test.activity.mapiary.BluetoothService" />
            </intent-filter>
        </service>
        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".sample.SampleVideoActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SampleProfileActivity"
            android:label="@string/title_activity_sample_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".subactivity.CardActivity" />
        <activity android:name=".MindwaveActivity" />
        <activity android:name=".subactivity.ProfileActivity" />
        <activity android:name=".SampleMapboxActivity" />
        <activity android:name=".sample.SampleTestActivity"></activity>
        <activity android:name=".subactivity.list.CardListActivity" />
        <activity android:name=".subactivity.list.FollowingListActivity" />
        <activity android:name=".subactivity.list.FollowerListActivity" />
        <activity
            android:name=".subactivity.list.MapiaryListActivity"
            android:label="@string/title_activity_mapiary_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".subactivity.MapiaryUploadActivity" />
        <activity android:name=".subactivity.RecordActivity" />
        <activity
            android:name=".subactivity.MapiaryCardActivity"
            android:label="@string/title_activity_mapiary_card"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".sample.FusedLocationActivity"></activity>
    </application>

</manifest>